---
const images = await Astro.glob("../images/*.jpeg");
import HeadLayout from "../components/HeadLayout.astro";
import { Film } from "../components/Film";
---

<HeadLayout class="flex flex-col items-center gap-4">
  <div>
    <p class="text-sm/6">
      Images loaded here are encoded with gain maps (ISO 21496-1 or the Apple
      variant).
    </p>
    <p class="text-sm/6">
      If you use Chrome on a M series Mac, you can see the full dynamic range.
    </p>
    <p class="text-sm/6">
      Other browsers, like iOS devices, can download the image and open it in
      your photo app.
    </p>
  </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      images.map((image) => (
        <div>
          <Film
            src={image.default.src}
            alt={image.default.src
              .split("/")
              .pop()!
              .split("?")[0]
              .split(".")[0]
              .replace(/\.[A-Za-z0-9]+$/, "")}
            caption={image.default.src
              .split("/")
              .pop()!
              .split("?")[0]
              .split(".")[0]
              .replace(/\.[A-Za-z0-9]+$/, "")}
            className="w-fit max-w-96 bg-neutral-50 text-center sm:min-w-64 dark:bg-neutral-700"
          />
        </div>
      ))
    }
  </div>
</HeadLayout>
