---
import { Film } from "../components/Film";
import HeadLayout from "../components/HeadLayout.astro";
import profile from "../images/IMG_0405.jpeg";
import { Markdown } from "@astropub/md";

const response = await fetch(
  "https://raw.githubusercontent.com/borisliao/borisliao/refs/heads/main/README.md",
);
const readme = await response.text();
---

<HeadLayout>
  <div class="flex flex-col items-center gap-4 sm:flex-row">
    <Film
      src={profile.src}
      className="w-fit max-w-96 bg-neutral-50 sm:min-w-64 dark:bg-neutral-300"
      alt="Boris Liao profile"
    />
    <div class="prose prose-black dark:prose-invert max-w-3xl">
      <Markdown of={readme} />
    </div>
  </div>
  <div class="flex flex-wrap items-center justify-center gap-8">
    <div class="flex flex-wrap items-center gap-2">
      <p>Projects:</p>
      <a
        href={import.meta.env.DEV
          ? "https://borisliao.github.io/strong"
          : "/strong"}
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Strength Training (CSV → Line Chart)
      </a>
      <a
        href="https://musicpack.github.io"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Music Box</a
      >
    </div>
    <div class="flex flex-wrap items-center gap-2">
      <p>Navigate to:</p>
      <a
        href="/test"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >HDR Test Site
      </a>
      <a
        href="https://borisliao.goatcounter.com"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Page Visit Stats
      </a>
      <a
        href={import.meta.env.DEV
          ? "https://borisliao.github.io/storybook"
          : "/storybook"}
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Storybook</a
      >
      <a
        href="https://github.com/borisliao"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/boris-liao/"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >LinkedIn</a
      >
    </div>
  </div>
</HeadLayout>
