---
import "../styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="../type.js"></script>
    <title>Boris Liao</title>
  </head>
  <body>
    <h1>Boris Liao</h1>
    <div class="typewrite" data-period="0" data-type='[ "Software Engineer" ]'>
      <span class="wrap"></span>
    </div>
  </body>
</html>
